{% load i18n %}

<div class="file_wrapper">
{% if lexer %}
    <div class="syntax">
        {{ content|safe }}
    </div>
{% else %}
    {% ifequal content 'image' %}
        <img src="{% url hg-repo-action-rev-path name "binary" rev file %}" />
    {% endifequal %}
    {% ifequal content 'pdf' %}
        <iframe src="{% url hg-repo-action-rev-path name "binary" rev file  %}" width="100%" height="500"></iframe>
    {% endifequal %}
    {% ifequal content None %}
        {% trans 'Unable to find a lexer source or to display the preview'  %}
    {% endifequal %}
{% endif %}
</div>
